html {
    background-color: #FFF;
    color: #29251e;
    font-size: 100%;
    /* max-width: 60em; */
	margin: 0 auto auto 1.5em;
}
@media (prefers-color-scheme: dark) {
    html, a {
        background-color: #29251e;
        color: #FFF !important;
    }
    img.dodark{
        filter: invert();
    }
    .sepia {
        filter: invert() sepia(.33) !important;
    }
}
.sepia {
    filter: sepia(.33);
}
body {
    /* padding-top: 1em; */
    font-size: 1.1em;
    /* max-width: 50em; */
    max-width: calc(100% - 4em);
}
header pre {
    color:#990000;
}
pre {
    font-size: 1em;
    font-family: Courier, monospace !important;
    text-wrap: nowrap;
    margin: 1em 0 0 1em;
}
main, footer {
    /* max-width: 45em; */
    padding: 1.5em 1.5em 1.5em 1.5em;
    font-family: Georgia, serif;
}
h1 { 
    font-size: 2em;
}
figure {
    padding: 2em 0 2em 0;
}
/* figcaption {
     max-width: 25em; 
} */
main img {
    padding: 0.75em 0 0.75em 0;
    image-rendering: pixelated;
}
footer{
    text-align: center;
}
/* TODO svg links */
footer img{
    stroke: #999933;
    height: 2em;
}
a, a:visited {
    color: #29251e;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1em;
    text-decoration-color: #999933;
}
main a:not([target="_blank"], [href*="#"])::before, .dir::after/*,h1:not([class="title"])::before*/{
    content: "/";
    color: #999933;
    text-decoration: none;
    font-family: Courier, monospace;
}
main a:hover {
    color: #999933;
    text-decoration: 0.05em underline wavy;
    }
header a:hover, a[target="_blank"]:hover{
    color: #990000;
    text-decoration: 0.05em underline wavy;
    }
a[target="_blank"]{
    text-decoration-style: dotted;
    text-decoration-thickness: 0.12em;
    text-decoration-color: #990000;
    }
a[target="_blank"]::after {
    content: "~" / ""; 
    color: #990000;
    text-decoration: none;
    }   
header a, header a:hover {
    text-decoration: none;
}
em {
    font-weight: normal;
}
q {
    font-style: italic;
    display: block;
    max-width: 25em;
    margin-bottom: 0.5em;
}   
cite {
    display: block;
    clear: both;
    margin-bottom: 2em;
}    
cite::before{
    content: "— " / "";
}
ul li, ol li { 
    list-style-type: none;
    /* list-style-position: outside; */
}
ul li::before{
    color: #999933;
    content:"* " / "";
    font-family: Courier, monospace;
}
/* for internal headings */
nav ol{
    list-style-type: none;
}
.internal li::before {
    color: #999933;
}
.links li::before {
    color: #990000;
}
main ul, main ol { 
    line-height: 1.25em; 
}
nav ol li::before/*,h2::before,h3::before*/{
    content: "# " / "";
    color: #999933;
    font-weight: bold;
    text-decoration: none;
    font-family: Courier, monospace;
}
hr {
    border: none;
    color: #990000;
    overflow: visible;
    text-align: center;
    height: 0.125em;
    padding: 0.75em 0 0.75em 0;
  }
hr::after {
    content: '⁂' / "";
    padding: 0 0.25em;
    position: relative;
    top: -0.75em;
    font-weight: bold;
    font-size: 1em;
  }