/* offcuts from main dot css and stuff I don't really understand yet goes here */
body{    
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
/* DARK MODE from https://wiki.xxiivv.com/links/main.css*/
@media (prefers-color-scheme: dark) {
    :root {--bg: var(--black); --fg: var(--white);}
    /* img[src*="svg"], img[src*="png"] */
    img.dodark {
        color: var(--bg);
        background-color: var(--fg); 
        display:inline !important;
        filter:invert(1)  hue-rotate(180deg);
    } 
    img.nodark {display: none !important;}
    .sepia {
        filter: invert() sepia(.33) !important;
    }
}
.sepia {
    filter: sepia(.33);
}
table {
    border:1;
    width: 6em; 
    height: 6em;
}
table td {
    width: 6em;
}
table tr {
    width: 6em;
}
/* fancy pseudo element things */
/*main a:not([target="_blank"], [href*="#"])::before, h1:not([class="title"])::before,*/
.dir::after{
    content: "/";
    color: #999933;
    text-decoration: none;
    font-family: Courier, monospace;
}
/* for tables of content */
nav ol li::before/*,h2::before,h3::before*/{
    content: "# " / "";
    color: #999933;
    font-weight: bold;
    text-decoration: none;
    font-family: Courier, monospace;
}
nav ol{
    list-style-type: none;
}
.internal li::before {
    color: #999933;
}

/* for when I get cooler things to put in the footer */
footer svg { stroke: #999933; height: 2em; }