/* offcuts from main.css and stuff I don't really understand yet goes here */
body{    
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
/* DARK MODE from https://wiki.xxiivv.com/links/main.css*/
@media (prefers-color-scheme: dark) {
    :root {--bg: var(--black); --fg: var(--white);}
    img[src*="svg"], img[src*="png"] */
    img.dodark {
        color: var(--bg);
        background-color: var(--fg); 
        display:inline !important;
        filter:invert(1)  hue-rotate(180deg);
    } 
    img.nodark {display: none !important;}
    .sepia {
        filter: invert() sepia(.33) !important;
    }
}
.sepia {
    filter: sepia(.33);
}
table {
    border:1;
    width: 6em; 
    height: 6em;
}
table td {
    width: 6em;
}
table tr {
    width: 6em;
}