* {font-family:monospace; line-height: 1.5em;}
html, a, a:visited, hr {color: #211E18; background-color:#E5D5B3;}
body {width: 640px;}
a {color: #BD744C;}
a:visited {color: #AD5640;} 
a[href^="../"] {text-decoration: none; cursor:zoom-out; color:#747851}
hr {text-decoration-line: dotted;}